{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<style>
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,170,70,1) 100%);"
    </style>


		<ul class="nav nav-pills nav-fill">
			<li class="nav-item">

				<span class="spanTbBord">Bienvenue</span><br><br>
				<p class="texttbBord">sur la plate-forme de gestion numérique de TRANUM. Depuis celle-ci, vous aurez accès à tous les outils indispensable pour un meilleur suivi et accompagnement auprès les usagers et l'ensemble équipes pluridisciplinaire.</p>
			</li>
		</ul>

	<style>
    
    </style>



{# style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,170,70,1) 100%);" #}
{% endblock %}
